@model SPMS.Models.ViewModel.PurchaseVM

@{
    ViewData["Title"] = "Purchase Entry";
}

<style>
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(23, 123, 139, 1);
    }
</style>

<div class="row p-4 mx-2">
    <div class="form-group row col-12">
        <div class="col-6">
            <h2 style="color:#177b8b">Purchase Entry</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-alt-circle-left"></i> &nbsp;Back to List</a>
        </div>
    </div>
    <div class="col-12">
        <br />
    </div>
    <div class="col-12">
        <form asp-action="CreatePurchaseDetail" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PurchaseDetail.Purchase_Id" />
            <div class="col-12 p-3 border rounded" style="background-color:#d6f1eb;color:#177b8b;font-weight:bold">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="PurchaseDetail.Vendor.Vender_Name" class="control-label"></label>
                        <select asp-for="PurchaseDetail.Vender_Id" class="form-control" asp-items="Model.VendorList"></select>
                        <span asp-validation-for="PurchaseDetail.Vender_Id" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="PurchaseDetail.Purchase_Date" class="control-label"></label>
                        <input asp-for="PurchaseDetail.Purchase_Date" class="form-control" />
                        <span asp-validation-for="PurchaseDetail.Purchase_Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="PurchaseDetail.Amount_Paid" class="control-label"></label>
                        <input asp-for="PurchaseDetail.Amount_Paid" class="form-control" />
                        <span asp-validation-for="PurchaseDetail.Amount_Paid" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="PurchaseDetail.Amount_Balance" class="control-label"></label>
                        <input asp-for="PurchaseDetail.Amount_Balance" class="form-control" />
                        <span asp-validation-for="PurchaseDetail.Amount_Balance" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <label asp-for="PurchaseDetail.Purchase_Description" class="control-label"></label>
                        <textarea asp-for="PurchaseDetail.Purchase_Description" class="form-control"></textarea>
                        <span asp-validation-for="PurchaseDetail.Purchase_Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6 offset-3">
                        <input type="submit" value="Save" class="btn btn-info form-control" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    @if (Model.PurchaseDetail.Purchase_Id != 0)
    {
        <div class="col-12">
            <br />
        </div>
        <div class="col-12">
            <form asp-action="CreatePurchaseItem" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input id="hid_pid" type="hidden" asp-for="PurchaseItems.Purchase_Id" value="@Model.PurchaseDetail.Purchase_Id" />
                <input id="hid_pitem_id" type="hidden" asp-for="PurchaseItems.Purchase_Item_Id" />
                <div class="col-12 p-3 border rounded" style="background-color:#d6f1eb">
                    <div>
                        <h2 style="color:#177b8b">Item Entry</h2>
                    </div>
                    <div>
                        <hr />
                    </div>
                    <div class="form-group row mb-0" style="color:#177b8b;font-weight:bold">
                        <div class="col-4">
                            <label asp-for="PurchaseItems.Item.Item_Name" class="control-label"></label>
                        </div>
                        <div class="col-2">
                            <label asp-for="PurchaseItems.Quantity" class="control-label"></label>
                        </div>
                        <div class="col-2">
                            <label asp-for="PurchaseItems.Unit_Cost" class="control-label"></label>
                        </div>
                        <div class="col-2">
                            <label asp-for="PurchaseItems.Total_Cost" class="control-label"></label>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <select id="ddl_item" asp-for="PurchaseItems.Item_Id" asp-items="Model.ItemsList" class="form-control"></select>
                            <span asp-validation-for="PurchaseItems.Item_Id" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <input id="qty" asp-for="PurchaseItems.Quantity" class="form-control" onchange="calculateTotalCost()" />
                            <span asp-validation-for="PurchaseItems.Quantity" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <input id="uc" asp-for="PurchaseItems.Unit_Cost" class="form-control" onchange="calculateTotalCost()" />
                            <span asp-validation-for="PurchaseItems.Unit_Cost" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <input id="tc" asp-for="PurchaseItems.Total_Cost" class="form-control" readonly />
                            <span asp-validation-for="PurchaseItems.Total_Cost" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <input id="btn_item" type="submit" value="Add" class="btn btn-info form-control" />
                        </div>
                    </div>
                    @if (Model.PurchaseItemsList.Count() > 0)
                    {
                        <div class="pt-1">
                            <hr />
                        </div>
                        <div class="table-responsive">
                            <table id="gridData" class="table table-sm table-hover table-bordered" style="width:100%">
                                <thead class="text-white text-center" style="background-color:#177b8b">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchaseItems.Item.Item_Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchaseItems.Quantity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchaseItems.Unit_Cost)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchaseItems.Total_Cost)
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PurchaseItemsList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Item.Item_Name)
                                            </td>
                                            <td class="text-right">
                                                @if (item.Quantity != 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                }
                                            </td>
                                            <td class="text-right">
                                                @if (item.Unit_Cost != 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Unit_Cost)
                                                }
                                            </td>
                                            <td class="text-right">
                                                @Html.DisplayFor(modelItem => item.Total_Cost)
                                            </td>
                                            <td class="text-center">
                                                @if (item.Purchase_Item_Id != 0)
                                                {
                                                    <a onclick="onClickEditItem('/purchaseDetails/GetPurchaseItem/@item.Purchase_Item_Id')" class="btn btn-sm btn-success text-white"><i class="far fa-edit"></i></a>
                                                }
                                            </td>
                                            <td class="text-center">
                                                @if (item.Purchase_Item_Id != 0)
                                                {
                                                    <a onclick="DeleteItem('/purchaseDetails/DeletePurchaseItem/@item.Purchase_Item_Id')" class="btn btn-sm btn-danger text-white"><i class="far fa-trash-alt"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </form>
        </div>
    }
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function calculateTotalCost() {
            var qty = $("#qty").val();
            var uc = $("#uc").val();
            var tc = $("#tc");
            var total_cost = qty * uc;
            tc.val(total_cost);
        };

        function onClickEditItem(url) {
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    if (data.success) {
                        $("#btn_item").val("Update");
                        $("#tc").val(data.itemDetail.total_Cost);
                        $("#uc").val(data.itemDetail.unit_Cost);
                        $("#qty").val(data.itemDetail.quantity);
                        $("#hid_pitem_id").val(data.itemDetail.purchase_Item_Id);
                        $("#hid_pid").val(data.itemDetail.purchase_Id);
                        var s = '';
                        for (var i = 0; i < data.itemsList.length; i++) {
                            if (data.itemsList[i].value == data.itemDetail.item_Id) {
                                s += '<option value="' + data.itemsList[i].value + '" selected="selected">' + data.itemsList[i].text + '</option>';
                            }
                            else {
                                s += '<option value="' + data.itemsList[i].value + '">' + data.itemsList[i].text + '</option>';
                            }
                        }
                        $("#ddl_item").html(s);
                    }
                    else {
                        swal({
                            text: data.message,
                            icon: "error"
                        });
                    }
                }
            });
        }

        function DeleteItem(delUrl) {
            swal({
                title: "Are you sure you want to delete?",
                text: "You will not be able to restore data!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: delUrl,
                        success: function (data) {
                            if (data.success) {
                                window.location.reload();
                            }
                            else {
                                swal({
                                    text: data.message,
                                    icon: "error"
                                });
                            }
                        }
                    });
                }
            });
        };
    </script>
}
