@model SPMS.Models.PurchaseDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor.Contact_Person_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_Paid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_Paid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entry_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entry_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Purchase_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
