@model SPMS.Models.ViewModel.PurchaseVM

@{
    ViewData["Title"] = "Purchase Detail";
}

<style>
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(23, 123, 139, 1);
    }

    dt {
        color: #177b8b;
    }
</style>

<div class="row p-4 mx-2">
    <div class="form-group row col-12">
        <div class="col-6">
            <h2 style="color:#177b8b">Purchase Detail</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-alt-circle-left"></i> &nbsp;Back to List</a>
        </div>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PurchaseDetail.Purchase_Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PurchaseDetail.Purchase_Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PurchaseDetail.Vendor.Vender_Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PurchaseDetail.Vendor.Vender_Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PurchaseDetail.Purchase_Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PurchaseDetail.Purchase_Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PurchaseDetail.Purchase_Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PurchaseDetail.Purchase_Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PurchaseDetail.Amount_Paid)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PurchaseDetail.Amount_Paid)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PurchaseDetail.Amount_Balance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PurchaseDetail.Amount_Balance)
            </dd>
        </dl>
    </div>
    <div class="col-12">
        <br />
    </div>
    <div class="col-12">
        <div class="table-responsive" style="background-color:#d6f1eb">
            <table id="gridData" class="table table-sm table-striped table-bordered" style="width:100%">
                <thead class="text-white text-center" style="background-color:#177b8b">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseItems.Item.Item_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseItems.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseItems.Unit_Cost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseItems.Total_Cost)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PurchaseItemsList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Item.Item_Name)
                            </td>
                            <td class="text-right">
                                @if (item.Quantity != 0)
                                {
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                }
                            </td>
                            <td class="text-right">
                                @if (item.Unit_Cost != 0)
                                {
                                    @Html.DisplayFor(modelItem => item.Unit_Cost)
                                }
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.Total_Cost)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
