@model IEnumerable<SPMS.Models.PurchaseDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount_Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount_Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.Contact_Person_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entry_Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Purchase_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Purchase_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Purchase_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
