@model IEnumerable<SPMS.Models.PurchaseDetail>

@{
    ViewData["Title"] = "Purchase List";
}

<div class="p-4">
    <div class="row">
        <div class="col-6">
            <h2 style="color:#177b8b">Purchase List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp;Add New Purchase</a>
        </div>
    </div>
    <br />
    <br />
    <div class="table-responsive rounded p-3" style="background-color:#d6f1eb">
        <table id="tableData" class="table table-sm table-hover table-bordered" style="width:100%">
            <thead class="text-white text-center" style="background-color:#177b8b">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Purchase_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vendor.Vender_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Purchase_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Purchase_Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount_Paid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount_Balance)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Purchase_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vendor.Vender_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Purchase_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Purchase_Description)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.Amount_Paid)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.Amount_Balance)
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.Purchase_Id" class="btn btn-sm btn-success text-white"><i class="far fa-edit"></i></a>
                        </td>
                        <td class="text-center">
                            <a onclick="Delete('purchaseDetails/Delete/@item.Purchase_Id')" class="btn btn-sm btn-danger text-white"><i class="far fa-trash-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Details" asp-route-id="@item.Purchase_Id" class="btn btn-sm btn-warning text-white"><i class="fas fa-info"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        function Delete(delUrl) {
            swal({
                title: "Are you sure you want to delete?",
                text: "You will not be able to restore data!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: delUrl,
                        success: function (data) {
                            if (data.success) {
                                window.location.reload();
                            }
                            else {
                                swal({
                                    text: data.message,
                                    icon: "error"
                                });
                            }
                        }
                    });
                }
            });
        };
    </script>
}