@model SPMS.Models.SaleDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SaleDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDetail.Purchase_Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sale_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sale_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit_Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit_Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_Received)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_Received)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entry_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entry_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Sale_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
